<div class="row">
    <div *ngIf="permit.is_query" class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-uppercase">Thông tin tìm kiếm</h4>

                <form class="" [formGroup]="form" (ngSubmit)="onSearch()">
                    <div class="form-group row g-3">
                        <div class="col-3">
                            <label>Mệnh giá từ</label>
                            <input formControlName="account_balance_from" mask="separator.0" thousandSeparator="." class="form-control form-control-sm" />
                        </div>

                        <div class="col-3">
                            <label>Mệnh giá đến</label>
                            <input formControlName="account_balance_to" mask="separator.0" thousandSeparator="." class="form-control form-control-sm" />
                        </div>

                        <div class="col-3">
                            <label>Số ngày còn lại từ</label>
                            <input formControlName="remain_day_from" mask="separator.0" thousandSeparator="."  class="form-control form-control-sm" />
                        </div>

                        <div class="col-3">
                            <label>Số ngày còn lại đến</label>
                            <input formControlName="remain_day_to" mask="separator.0" thousandSeparator="."  class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="form-group row g-3">
                        <div class="col-3">
                            <label>Tình trạng tạm ứng</label>
                            <ng-select [items]="advanceStatusList" bindLabel="name" bindValue="code"
                                formControlName="advance_status_code" [clearable]=false [selectOnTab]="true"
                                placeholder="--- Tất cả ---" class="form-control">
                            </ng-select>
                        </div>

                        <div class="col-3">
                            <label>Lãi suất</label>
                            <input formControlName="interest_rate" mask="separator.2" separatorLimit="99" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary float-end ms-2" [disabled]="isLoading">
                        <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoading, '': !isLoading}"></i>
                        Tìm kiếm
                    </button>

                    <button type="button" (click)="onClearForm()" class="btn btn-light float-end">
                        Reset
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body min-height-500">
                <div class="d-flex pb-3">
                    <div class="d-flex align-items-center">
                        <div class="wrapper">
                            <h4 class="card-title mb-0 text-uppercase">Danh sách TKTK/GTCG</h4>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button *ngIf="permit.is_add && dataList.length > 0" (click)="openForm('ADD')" class="btn btn-inverse-primary btn-fw me-1">Ghi nhận mua</button>
                    </div>
                </div>

                <ngx-spinner bdOpacity=0.5 bdColor="#fff" color="#1825aa" size="medium" [fullScreen]="false">
                    <p>Đang tải dữ liệu</p>
                </ngx-spinner>

                <div class="table-responsive" style="position: relative;">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th> STT </th>
                                <th> Số TKTK/GTCG </th>
                                <th> Số dư TKTK/GTCG </th>
                                <th> Ngày mở </th>
                                <th> Ngày đến hạn </th>
                                <th> Thời gian còn lại (ngày) </th>
                                <th> Lãi suất của TKTK/GTCG (%/năm) </th>
                                <th> Giá trị giao dịch </th>
                                <th> Phí nhận chuyển nhượng </th>
                                <th> Tổng số tiền người nhận chuyển nhượng thanh toán (VND) </th>
                                <th> Tổng số tiền người nhận chuyển nhượng sẽ nhận vào ngày đến hạn (VND) </th>
                                <th> Chọn </th>
                            </tr>
                        </thead>

                        <tbody *ngIf="dataList.length > 0">
                            <tr *ngFor="let item of dataList, index as i">
                                <td class="text-center"> {{i + 1}} </td>
                                <td class="text-center"> {{item.data.stk}} </td>
                                <td class="text-center"> {{formatVND(item.data.so_du)}} </td>
                                <td class="text-center"> {{item.data.ngay_mo | date: 'dd/MM/yyyy'}} </td>
                                <td class="text-center"> {{item.data.ngay_tai_ky | date: 'dd/MM/yyyy'}} </td>
                                <td class="text-center"> {{item.data.so_ngay_con_lai}} </td>
                                <td class="text-center"> {{item.data.lai_suat}} </td>
                                <td class="text-center"> {{formatVND(item.data.giatri_giao_dich)}} </td>
                                <td class="text-center"> {{formatVND(item.data.phi_chuyen_nhuong)}} </td>
                                <td class="text-center"> {{formatVND(item.data.so_tien_kh_tt_nhan_cn)}} </td>
                                <td class="text-center"> {{formatVND(item.data.so_tien_kh_nhan_cn)}} </td>
                                <td class="text-center">
                                    <input [checked]="item.is_checked" (change)="onCheck(item)" class="form-check-input custom-form-check-input" type="checkbox" aria-label="...">
                                </td>
                            </tr>                           
                        </tbody>

                        <tbody *ngIf="dataList.length == 0">
                            <tr class="text-center">
                               <td colspan="11">Không có dữ liệu</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white p-0">
                <div class="footable-paging">
                    <mat-paginator [length]="pageEvent.length" [pageIndex]="pageEvent.pageIndex" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="setPaginatorData($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>

</div>