<h4 class="title-size" mat-dialog-title>Danh sách TKTK/CCTG chuyển nhượng
   <button type="button" mat-button class="float-end btn-sn btn" data-dismiss="modal" (click)="closeModalCheck('close')"
      aria-hidden="true">X</button>
</h4>
<div mat-dialog-content class="mt-4">
   <div class="table-responsive" style="position: relative;">
      <table class="table table-striped table-hover table-bordered">
         <thead>
            <tr class="">
               <th scope="col">STT</th>
               <th scope="col">Mã CIF</th>
               <th scope="col">Họ và tên</th>
               <th scope="col">CMND/HC/CCCD</th>
               <th scope="col">Số TKTK/CTTG</th>
               <th scope="col">Số dư</th>
               <th scope="col">Giá trị giao dịch</th>
               <th scope="col">Phí chuyển nhượng</th>
               <th scope="col">Số tiền KH nhận</th>
            </tr>
         </thead>
         <tbody class="table-group-divider">
            <ng-container *ngFor="let data of data.transfers, index as i">
               <tr class="text-center">
                  <th scope="row">{{i+1}}</th>
                  <td>{{data.ma_cif}}</td>
                  <td>{{data.ho_ten}}</td>
                  <td>{{data.cmnd}}</td>
                  <td>{{data.stk}}</td>
                  <td>{{formatVND(data.so_du)}}</td>
                  <td>{{formatVND(data.giatri_giao_dich)}}</td>
                  <td>{{formatVND(data.phi_chuyen_nhuong)}}</td>
                  <td>{{formatVND(data.so_tien_kh_nhan_cn)}}</td>
               </tr>
            </ng-container>
         </tbody>
      </table>
   </div>
   <h4 class="label mt-4">Thông tin thanh toán</h4>
   <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row form-group">
      <div class="col-4 mb-3">
         <label class="label">1. Hình thức thanh toán(*)</label>
         <ng-select bindLabel="name" bindValue="code" [items]="PAYMENT_METHOD_LIST" [searchable]="false" 
            formControlName="payment_method" [clearable]="false" (change)="onChangePaymentMethod($event)" class="form-control">
         </ng-select>
      </div>
      <div class="col-4 mb-3">
         <label class="label">2. Số tài khoản thanh toán</label>
         <ng-select bindLabel="accountNum" bindValue="accountNum" [items]="accountNumList" [searchable]="false" formControlName="account_list"
            [clearable]="false" class="form-control" (change)="onChangeAccountOnline($event)">
         </ng-select>
      </div>
      <div class="col-4 mb-3">
         <label class="label">3. Số dư khả dụng</label>
         <input type="text" class="form-control form-control-sm" formControlName="balance" mask="separator.2" thousandSeparator="."> 
      </div>
      <div class="col-4 mb-3">
         <label class="label">4. Chủ tài khoản</label>
         <input type="text" class="form-control form-control-sm" formControlName="acccount_user">
      </div>
      <div class="col-4 mb-3">
         <label class="label">5. Loại tiền</label>
         <ng-select bindLabel="name" bindValue="id" [items]="[{'id':1, 'name':'VND'}]" [searchable]="false"
            formControlName="ccy" class="form-control" [clearable]="false" class="form-control">
         </ng-select>
      </div>
      <div class="col-4 mb-3">
         <label class="label">6. Mã khách hàng</label>
         <input type="text" class="form-control form-control-sm" formControlName="member_id">
      </div>
      <div class="col-4 mb-3">
         <label class="label">7. CMND/CCCD/HC</label>
         <input type="text" class="form-control form-control-sm" formControlName="cmnd">
      </div>
      <div class="col-4 mb-3">
         <label class="label">8. Mã nhân viên kinh doanh(*)</label>
         <ng-select [items]="directEmpList" bindLabel="hrDisplayHoTen" bindValue="hrMSNV"
            [ngClass]="{ 'is-invalid': submitted && f.kpi_direct.errors }" formControlName="kpi_direct"
            [clearable]=false [selectOnTab]="true" placeholder="--- Chọn nhân viên kinh doanh ---" class="form-control"
            dropdownPosition="top">
         </ng-select>
         <div *ngIf="submitted && f.kpi_direct.errors" class="invalid-feedback">
            <small *ngIf="f.kpi_direct.errors?.required">Vui lòng chọn nhân viên kinh doanh</small>
         </div>
      </div>
      <div class="col-4 mb-3">
         <label class="label">9. Mã KPI gián tiếp(*)</label>
         <ng-select [items]="inDirectEmpList" bindLabel="hrDisplayHoTen" bindValue="hrMSNV"
            [ngClass]="{ 'is-invalid': submitted && f.kpi_indirect.errors }" formControlName="kpi_indirect"
            [clearable]=false [selectOnTab]="true" placeholder="--- Chọn nhân viên gián tiếp ---" class="form-control"
            dropdownPosition="top">
         </ng-select>
         <div *ngIf="submitted && f.kpi_indirect.errors" class="invalid-feedback">
            <small *ngIf="f.kpi_indirect.errors?.required">Vui lòng chọn nhân viên gián tiếp</small>
         </div>
      </div>
   </form>
   <div class="float-end">
      <button (click)="onSubmit()" type="button"  class="me-2 btn btn-info" [disabled]="isLoading">
         <i class="fs-12-px fa" [ngClass]="{'fa-spin fa-spinner me-1': isLoading, '': !isLoading}"></i> 
         Lưu
      </button>
   </div>
</div>